/* GLOBAL */
body {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px !important;
    color: #000000;
    font-weight: normal !important;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #28B3D6;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 20px !important;
    color: #28B3D6;
    font-weight: 700 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 32px;
}

nav {
    background-color: #28B3D6;
    border-bottom: solid #ffffff 10px;
}

nav img {
    width: 200px;
    height: auto;
}

div.header img {
    padding-top: 0;
}

div.header p {
    color: #000000;
    background-color: #ffffff;
    align-items: center;
    text-align: justify;
    padding-top: 20px;
    letter-spacing: 1px;
    line-height: 24px;
}

div.col-6 {
    max-width: 100%;
}

td.number_wrap {
    padding: 50px;
}

tbody {
    width: 500px;
    height: auto;
}

td.number {
    width: 40px;
    height: 40px;
    background-color: #28B3D6;
    padding: 2px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 20px;
}

td.number_header {
    background-color: transparent;
    padding: 0 15px 33px 15px;
    font-size: 16px;
    text-align: left;
}

hr {
    width: 70%;
    margin: auto;
}

div.focal {
    background-color: #28B3D6;
}

a.btn {
    background-color: #95cc36;
    color: #ffffff;
    font-weight: 700;
    border: none;
    width: 140px;
    height: 35px;

}

a.btn:hover {
    color: #95cc36;
    background-color: #ffffff;
    text-transform: uppercase;
}

div.focal h1,
div.focal p {
    color: #ffffff;
}

div.focal h1 {
    padding-top: 30px;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

div.focal a.link {
    color: #95cc36;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

div.focal a.link:hover {
    text-decoration: underline;
}

footer {
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    margin: 10px auto;
}

footer p {
    width: 100%;
    line-height: 20px;
    padding-top: 0px;
    margin: 3px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px !important;
}